<% include header.ejs %>

<div class="well jumbotron">
  <ul class="list-group">
      <%for (var i =0; i < polls.length; i ++) {%>
    <a href="<%=setting.url%>/polls/<%=polls[i]._id%>" class="list-group-item"><%=polls[i].title%></a>
      <%}%>
  </ul>
</div>

<% include footer.ejs %>