<% include ../header.ejs %>
<div class="jumbotron" style="padding: 50px">
    <label>Below are polls you own.</label>
    <label>Select a poll to see the results and vote,<a href="<%=setting.url%>/newpoll">or make a new poll!</a></label>
    <ul class="list-group">
        <%for (var i =0; i < polls.length; i ++) {%>
        <a href="<%=setting.url%>/polls/<%=polls[i]._id%>" class="list-group-item"><%=polls[i].title%></a>
        <%}%>
    </ul>
</div>
<% include ../footer.ejs %>