<% include ../header.ejs %>
<div id="container" class="jumbotron" style="padding: 50px;">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <h3>{{poll.title}}</h3>
            <label>I'd like to vote for</label>
            <form method="post">
                <select class="form-control" name="selected_id" v-model="selected_id">
                    <option v-for="option in poll.options" :value="option._id">{{option.option}}</option>
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        </div>


        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <div style="width: 100%;height: 100%; display: flex; justify-content: center;align-items: center;">
                <svg></svg>
            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        var vm = new Vue({
            el: '#container',
            data: {
                poll:{},
                selected_id:""
            }
        })

        var strings = $(location).attr('href').split("/")
        var id = strings[strings.length - 1]
        console.log("localhost:3000/api/poll/" + id)
        $.getJSON("http://localhost:3000/api/poll/" + id,function (data) {

            vm.poll = data
            vm.selected_id = data.options[0]._id
            var width = 300;
            var height = 450;
            var length = data.options.length

            var svg = d3.select("svg").attr("width", width)
                .attr("height", height)
            var dataset = data.options.map(function (option) {
                return option.count
            });

            var pie = d3.layout.pie();
            var piedata = pie(dataset);

            console.log(piedata)
            var outerRadius = 150; //外半径
            var innerRadius = 50; //内半径，为0则中间没有空白

            var arc = d3.svg.arc()	//弧生成器
                .innerRadius(innerRadius)	//设置内半径
                .outerRadius(outerRadius);	//设置外半径

            var color = d3.scale.category20();

            var arcs = svg.selectAll("g")
                .data(piedata)
                .enter()
                .append("g")
                .attr("transform","translate("+ (width/2) +","+ (width/2) +")");

            arcs.append("path")
                .attr("fill",function(d,i){
                    return color(i);
                })
                .attr("d",function(d){
                    return arc(d);
                }).on("mouseover",function (d,i) {

                div.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                div.html("<span>" + data.options[i].option + ":" + data.options[i].count + "</span>")
                    .style("left", (d3.event.pageX + 5) + "px")
                    .style("top", (d3.event.pageY) + "px");

            }).on("mouseout",function(d,i){
                div.transition()
                    .duration(500)
                    .style("opacity", 0);
            });

            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);


            var rect_width = 20
            svg.selectAll("rect")
                .data(data.options)
                .enter()
                .append("rect")
                .attr("x",function (d,i) {
                    return (width - rect_width) / (length) * i
                } )
                .attr("y",height - 2 * rect_width)
                .attr("width",rect_width)
                .attr("height",rect_width)
                .attr("rx",5)
                .attr("ry",5)
                .attr("fill",function (d, i) {
                    return color(i)
                })


            svg.selectAll("text")
                .data(data.options)
                .enter()
                .append("text")
                .attr("transform",function(d,i){
                    return "translate(" + (width - rect_width) / (length) * i + "," + (height - 2 * rect_width) + ")";
                })
                .attr("dx",rect_width + 5)
                .attr("dy",rect_width / 2 + 5)
                .text(function(d, i){
                    return d.option;
                });


        })
    })
</script>

<% include ../footer.ejs %>